.center{
    text-align: center;
}
.right{
    text-align: right;
}
.fishheader{
    background: transparent url(../images/transparent_header.png) top;
}
.clock{
    background: url(../images/clock.png) no-repeat right;
}
