<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>XSPS Fishtank</title>

    <link rel="stylesheet" th:href="@{css/main.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-slider/css/bootstrap-slider.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/timepicker/css/clockpicker.css}"/>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <div class="container fishheader">
        <a class="navbar-brand" href="/"><img th:src="@{images/transparent_fish.png}" height="85"/>XSPS Fishtank</a>
    </div>
</nav>

<div class="container" th:object="${lightState}">

    <h2 class="center">So long and thanks for all the fish!</h2>

    <div class="row center">
        <div class="col">
            <div id="fishes">
                <img th:src="@{images/fishtank.jpg}"/>
            </div>
        </div>
    </div>

    <div class="row pt-3 center">
        <div class="col">
            <h3>Manual control</h3>
        </div>
    </div>

    <div class="row pt-1">
        <div class="col-12">
            <input id="lightRange" type="text"
                   th:value="*{strength}"
                   th:attr="data-slider-value=*{strength}"
                   data-slider-min="0"
                   data-slider-max="4000"
                   data-slider-step="2"
                   data-slider-tooltip="show"/>
        </div>
    </div>

    <div class="row pt-3 center">
        <div class="col">
            <h3>Automatic control</h3>
        </div>
    </div>

    <div class="row pt-1">
        <div class="col col-5 right">
            <b>From:</b>
        </div>
        <div class="col col-2">
            <div class="input-group clockpicker" id="timeFrom">
                <input id="timeFromValue" type="text" class="form-control clock" th:value="*{onFrom}">
            </span>
            </div>
        </div>
    </div>

    <div class="row pt-1">
        <div class="col col-5 right">
            <b>Till:</b>
        </div>
        <div class="col col-2">
            <div class="input-group clockpicker" id="timeTill">
                <input id="timeTillValue" type="text" class="form-control clock" th:value="*{onTill}">
            </div>
        </div>
    </div>

</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:rel="stylesheet" th:src="@{assets/bootstrap-slider/bootstrap-slider.js}"></script>
<script th:rel="stylesheet" th:src="@{assets/timepicker/clockpicker.js}"></script>

<script>
    $('#fishes').find('img').fadeTo(500, 1);
    $('#timeFrom').clockpicker({
        align: 'right',
        donetext: 'Done',
        afterDone: function() {
            var fromTimeStr = $("#timeFromValue").val();
            $.get("/setfromtime?val=" + fromTimeStr);
        }
    });
    $('#timeTill').clockpicker({
        align: 'right',
        donetext: 'Done',
        afterDone: function() {
            var toTimeStr = $("#timeTillValue").val();
            $.get("/settilltime?val=" + toTimeStr);
        }
    });

    $("#lightRange").slider({});
    $("#lightRange").on("slideStop", function (stopEvent) {
        $('#fishes').find('img').fadeTo(500, stopEvent.value / 4000);
        $.get("/setlightstrength?val=" + stopEvent.value);
    });

</script>

</body>
</html>